{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block body %}

<div class="admin-page">

<div>
{{ include('back/index.html.twig') }}
</div>

    <div class="content">

    <div>

    <h1>Order</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>Client</th>
                <td>{{ order.client.email }}</td>
            </tr>
            <tr>
                <th>Order_date</th>
                <td>{{ order.orderDate ? order.orderDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Total_price_ht</th>
                <td>{{ order.totalPriceHt|format_currency('EUR') }}</td>
            </tr>
            <tr>
                <th>Total_price_ttc</th>
                <td>{{ order.totalPriceTtc|format_currency('EUR') }}</td>
            </tr>
            {# <tr>
                <th>Items</th>
                <td>{{ order.items ? order.items|join(', ') : '' }}</td>
            </tr> #}
            <tr>
                <th>Items</th>
                {% if order.items %}
                <td>
                    {% for item in order.items %}
                        Nom du produit: {{item.name}}<br>
                        Prix (unité): {{item.price|format_currency('EUR')}}<br>
                        Quantité: {{item.quantity}}<br>
                        --------------------------------------------<br>
                    {% endfor %}
                </td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_order_index') }}">back to list</a>

    {# <a href="{{ path('app_admin_order_edit', {'id': order.id}) }}">edit</a> #}

    {{ include('back/admin_order/_delete_form.html.twig') }}
    </div>
    </div>
    </div>
{% endblock %}
