{% extends 'base.html.twig'%}

{% block title %}
    Produit
{% endblock %}

{% block body %}
    {% include('widgets/navbar/index.html.twig') %}

    <main>
        <div class="container">
            <div class="image-container">
            <img src= {{product.urlimg}}>
            </div>
            <div>
                <div>
                <form action="{{ path('app_add_product_to_cart', {'id': product.id}) }}" method="post">
                    <div class="produit-container">
                        <h2 id="nom-prd">{{product.name}}</h2>
                        <p id="desc-prd">{{product.description}}</p>
                            <p>Quantité :</p>
                        <div class="input-group qty-container">
                            {# <button class="btn btn-outline-secondary" id="decrement-button">-</button> #}
                            <input type="number" class="form-control" name="itemQuantity" value="1" min="1">
                            {# <button class="btn btn-outline-secondary" id="increment-button">+</button> #}
                        </div>
                        <p class="prix-prd">{{product.price|format_currency('EUR')}}</p>    
                        <input type="submit" class="add" value="Ajouter au panier">             
                    </div>
                    </form>
                <div>
            </div>
        </div>
    </main>
{% endblock %}