{% extends 'base.html.twig'%}

{% block title %}
    Produit
{% endblock %}

{% block body %}
    {% include('widgets/navbar/index.html.twig') %}

    <main>
        <div class="container">
            <div class="image-container">
            <img src= {{product.urlimg}}>
            </div>
            <div>
                <div>
                    <div class="produit-container">
                        <h2 id="nom-prd">{{product.name}}</h2>
                        <p id="desc-prd">{{product.description}}</p>
                            <p>Quantité :</p>
                        <div class="qty-container">
                            <button id="decrement-button">-</button>
                            <div id="quantity">1</div>
                            <button id="increment-button">+</button>
                        </div>
                        <p class="prix-prd">{{product.price|format_currency('EUR')}}</p>
                        <a class="add" href="{{ path('app_add_product_to_cart', {'id': product.id}) }}"><i class="fa-solid fa-cart-shopping"></i>Ajouter au panier</a>                  
                    </div>
                <div>
            </div>
        </div>
    </main>
{% endblock %}